<!DOCTYPE html>

<html
  lang="en"
  style="height: 100vh;width: 100vw; background-color:#f8fcff;"
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap" rel="stylesheet">

    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1
      class="title is-1"
      style="
    text-align: center;
    margin-top: 5vh;
"
    >
      About Us
    </h1>

    <h2
      class="title is-2"
      style="
  text-align: center;
  margin-top: 5vh;
"
    >
      Dev Team
    </h2>

    <div class="columns" style="display: flex;justify-content: center;">
      <section class="section">
        <div class="column ">
          <div class="card">
            <div class="card-image">
              <figure class="image is-128x128">
                <img class="is-rounded"
                  src="https://i.imgur.com/luwMxpu.png"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left"></div>
                <div class="media-content">
                  <p class="title is-4">Dor Zairi</p>
                  <p class="subtitle is-6">@Dorzairi</p>
                </div>
              </div>

              <div class="content">
                Fullstack Developer & Activate Video Game Developer
                <br />
                <br>
                 <a href="https://www.linkedin.com/in/dorz/"><i class="fab fa-linkedin fa-2x"></i></a>
                 <a href="https://github.com/Ckrcok"><i class="fab fa-github-square fa-2x"></i></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>


      <br />
      <section class="section">
        <div class="column ">
          <div class="card">
            <div class="card-image">
              <figure class="image is-128x128">
                <img class="is-rounded"
                  src="https://media-exp1.licdn.com/dms/image/C4E03AQGfTijtwNc-bA/profile-displayphoto-shrink_200_200/0/1617129929943?e=1623283200&v=beta&t=5HebRCGSnqeT-kuWwnsapyap3uGnAlQJnid4bgqFrhQ"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left"></div>
                <div class="media-content">
                  <p class="title is-4">Raymond Casgrain</p>
                  <p class="subtitle is-6">@RaymondCasgrain</p>
                </div>
              </div>

              <div class="content">
                Full Stack Software Developer and Life Long Learner.
                <br />
                <br>
                <a href="https://www.linkedin.com/in/raymondcasgrain/"><i class="fab fa-linkedin fa-2x"></i></a>
                <a href="https://github.com/Raymond2200"><i class="fab fa-github-square fa-2x"></i></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>
  </div>

      <h2
        class="title is-2"
        style="text-align: center; margin-top: 5vh;">
        Designer Team
      </h2>

      <div class="columns" >
        <section class="section">
          <div class="column ">
            <div class="card">
              <div class="card-image">
                <figure class="image is-128x128">
                  <img class="is-rounded"
                    src="https://media-exp1.licdn.com/dms/image/C5603AQFY0HNzC0zE2A/profile-displayphoto-shrink_200_200/0/1534686293218?e=1623283200&v=beta&t=uovUMXH9AHkMPzN37J0Aw1JPmc2RPBEio61Sl9p4NUU"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left"></div>
                  <div class="media-content">
                    <p class="title is-4">Justine Moore</p>
                    <p class="subtitle is-6">@justinemoore</p>
                  </div>
                </div>

                <div class="content">
                  UX Design student at General Assembly
                  <br />
                  <a href="https://www.linkedin.com/in/justine-moore-5a0ba559/"><i class="fab fa-linkedin fa-2x"></i></a>

                </div>
              </div>
            </div>
          </div>
        </section>

        <br />
        <section class="section">
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-128x128">
                  <img class="is-rounded"
                    src="https://media-exp1.licdn.com/dms/image/C5603AQEjQAMDfip40A/profile-displayphoto-shrink_200_200/0/1617062826468?e=1623283200&v=beta&t=_FWNtEcwqqK514brSdGJCo7KmmPKqUWnshjzDSiUcGY"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left"></div>
                  <div class="media-content">
                    <p class="title is-4">Tian Shi</p>
                    <p class="subtitle is-6">@tianshi</p>
                  </div>
                </div>

                <div class="content">
                  UX/Product Designer | Sales & Startups | Bridging the world of business and design.

                  <br />
                  <br>
                    <a href="https://www.linkedin.com/in/tianshi/"><i class="fab fa-linkedin fa-2x"></i></a>
                </div>
              </div>
            </div>
          </div>
        </section>


        <br />
        <section class="section">
          <div class="column ">
            <div class="card">
              <div class="card-image">
                <figure class="image is-128x128">
                  <img class="is-rounded"
                    src="https://bulma.io/images/placeholders/1280x960.png"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left"></div>
                  <div class="media-content">
                    <p class="title is-4">Andrew Jankowski</p>
                    <p class="subtitle is-6">@andrewjankowski</p>
                  </div>
                </div>

                <div class="content">
                  Sr. Business Development Executive at Generis
                  <br />
                  <br>
                  <a href="https://www.linkedin.com/in/andrew-jankowski-3319a4180/"><i class="fab fa-linkedin fa-2x"></i></a>

                </div>
              </div>
            </div>
          </div>
          </div>
        </section>
      </div>



    <!-- Start of NavBar -->
    <nav
      class="navbar is-primary"
      style="
        overflow: hidden;
        position: fixed;
        bottom:0;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        background-color: grey;
        "
    >
      <div
        class="navbar-menu"
        style="
        display: flex;
        justify-content: space-evenly;"
      >
        <a href=""></a>
        <a href="/"
          ><i class="fas fa-chevron-left fa-2x" style="color: black;"></i
        ></a>
        <a href=""></a>
      </div>
    </nav>
    <!-- end of NavBar -->
  </body>
</html>
