<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Buzz Stuff</title>
    </head>
    <body>
        <h1>Welcome to Buz!</h1>

            {% if user.is_authenticated %}
            <a href="{% url 'search' %}">Start Sippin</a>
            {% else %}
            <a href="{% url 'login' %}">Start Sippin</a>
            {% endif %}
    </body>
</html>


