{% extends 'base.html' %} {% block content %}

<h1
  class="title is-3"
  style="text-align: center; margin: 0; margin-bottom: 2vh; margin-top: 1vh;"
>
  Discover
</h1>

<!-- start of search bar -->

<form action="/searching/" method="POST">
<div class="field has-addons">
  <select class="dropdown-content" name="selector">
    <option class="dropdown-item" value="store">Search Stores</option>
    <option class="dropdown-item" value="drinks">Search Drinks</option>
  </select>
  <div class="control is-expanded">
    <input class="input" type="text" name ='search' placeholder="" />
  </div>
  <div class="control is-expanded">
      {% csrf_token %}
      <button class="button is-black">
        <i class="fas fa-search fa-2x"></i>
      </button>
    </div>
  </div>
</form>
<!-- end of search bar -->

<!-- start of main content -->
<!-- start of first row -->
<div class="columns" style="text-align: center;">
  <div class="column">
    <div class="columns is-mobile">
      <div class="column">
        <a style="color: black;" href="{% url 'top_shops' %}"
          ><img src="https://i.imgur.com/wOd4ZZF.png" alt="Coffee" /><br />Top
          Rated shops</a
        >
      </div>
      <div class="column">
        <a style="color: black;" href="{% url 'top_drinks' %}"
          ><img src="https://i.imgur.com/iDO8nSA.png" alt="Coffee" /><br />Top
          Rated Drinks</a
        >
      </div>
    </div>
  </div>
</div>
<!-- end of first row -->

<!-- start of second row -->
<div class="columns" style="text-align: center;">
  <div class="column">
    <div class="columns is-mobile">
      <div class="column">
        <a style="color: black;" href="{% url 'type_cof' %}"
          ><img
            src="https://i.imgur.com/JlJH4fd.png"
            alt="Coffee"
          /><br />Coffee</a
        >
      </div>
      <div class="column">
        <a style="color: black;" href="{% url 'type_ice' %}"
          ><img src="https://i.imgur.com/Eef8vfo.png" alt="Coffee" /><br />Iced
          Coffee</a
        >
      </div>
    </div>
  </div>
</div>

<!-- end of second row -->

<!-- start of third row -->
<div class="columns" style="text-align: center;">
  <div class="column">
    <div class="columns is-mobile">
      <div class="column">
        <a style="color: black;" href="{% url 'type_esp' %}"
          ><img
            src="https://i.imgur.com/AItO52q.png"
            alt="Coffee"
          /><br />Espresso</a
        >
      </div>
      <div class="column">
        <a style="color: black;" href="{% url 'type_cap' %}"
          ><img
            src="https://i.imgur.com/0MRjIXO.png"
            alt="Coffee"
          /><br />Cappucino</a
        >
      </div>
    </div>
  </div>
</div>
<!-- end of third row -->
{% endblock %}
