{% block content %}
<div class="columns is-desktop">
  <div
    class=" column is-three-fifths is-offset-one-fifth"
    style="
    text-align: center;
"
  >
    <img
      src="https://i.imgur.com/WgzL52g.png"
      alt="Buzz Logo"
      style="
    width: 25vh;
    margin-top: 10vh;
"
    />
  </div>

  <div
    class="column is-three-fifths
is-offset-one-fifth"
    style="text-align: center; margin-top: 10vh;"
  >
    <div class="form">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="container">{{ form.as_p }}</div>

        <input
          style=" margin-top: 10vh; "
          class=" button is-medium"
          type="submit"
          class="btn"
          value="login"
        />

        <input class="input" type="hidden" name="next" value="{{ next }}" />
      </form>
      <br />
      <hr />
      <div class="subtitle is-4">Don't have a user?</div>
      <a class="button" href="{% url 'signup' %}">Sign Up</a>
    </div>
  </div>
</div>

{% endblock %}
