{% extends 'base.html' %} {% block content %}

<h1>User name</h1>

{% if user.is_authenticated %}
    <img src="{{using.avatar}}" alt="Photo of the coffee">
    <a href="{% url 'profile_avatar' %}">Avatar</a>
    <br>
    <a href="{% url 'profile_review' %}">Your Reviews</a>
    <br>
    <a href="{% url 'profile_submissions' %}">Submitted Drinks</a>
    <br>
    <a href="{% url 'logout' %}">Log Out</a>
    <br>

    {% if user.is_staff %}
            <a href="{% url 'admin_approval' %}">Admin approval</a>
    {% endif %}
{% endif %}
{% endblock %}
