{% extends 'base.html' %} {% block content %}
<div
  class=""
  style="
    text-align: center;
    margin-top: 10vh;
"
>
  {% if user.is_authenticated %}
  <a href="{% url 'profile_avatar' %}"
    ><img src="{{using.avatar}}" alt="Photo of the coffee"
  /></a>
  <br />
  <a
    class="button is-black is-outlined"
    href="{% url 'profile_review' %}"
    style="
    margin-top: 2vh;
"
    >My Reviews</a
  >
  <br />
  <a
    class="button is-black is-outlined"
    href="{% url 'profile_submissions' %}"
    style="
        margin-top: 2vh;
    "
    >Submitted Drinks</a
  >
  <br />
  <a
    class="button is-black is-outlined"
    href="{% url 'logout' %}"
    style="
    margin-top: 2vh;"
    >Log Out</a
  >
  <br />

  {% if user.is_staff %}
  <a
    class="button is-danger is-outlined"
    href="{% url 'admin_approval' %}"
    style="
    margin-top: 2vh;
"
    >Admin approval</a
  >
  {% endif %} {% endif %}
</div>
{% endblock %}
