{% extends 'base.html' %} {% block content %}

<h1 class="title">Coffee Details</h1>

<div class="card" style="text-align: center;">
  <div class="card-content">
    <span class="title is-3 is-spaced"></span>
    <div class="subtitle">
      <img src="{{coffee.photo}}" alt="Photo of the coffee">
      <form method="POST" ation= '/addfavorite/{{coffee.ID}}'>
        {% csrf_token %}
        <button>Favorite</button>
      </form>
      <h1>Name: {{coffee.name}}</h1>
      <h2>type: {{coffee.categories}}</h2>
      <h3>Store: {{store.name}}</h3>
      <h3>rating: {{coffee.rating}}</h3>
      <a href="/addreview/{{coffee.id}}/">Add a review</a>
    </div>
  </div>
</div>

{%for i in reviews%}
<h1>{{i.profile.user.username}}</h1>
<h1>{{i.review}}</h1>

{% endfor %}
{% endblock %}