<h1 class="title">Coffee Details</h1>

<a href="/">Go back home</a>

<div class="card" style="text-align: center;">
  <div class="card-content">
    <span class="title is-3 is-spaced"></span>
    <div class="subtitle">
      <img src="{{coffee.0.photo}}" alt="Photo of the coffee">
      <h1>Name: {{coffee.name}}</h1>
      <h2>type : {{coffee.categories}}</h2>
      <h3>type : {{coffee.store_id}}</h3>
      <h4>description : {{coffee.description}}</h4>

      <h3></h3>
    </div>
    <hr />
    <p></p>
  </div>
  <div class="subtitle">

      <a href="#">Edit</a>

      <a href="">Delete</a>
  </div>
</div>
