{% extends 'base.html' %} {% block content %}

<h1>Add review for {{coffee.name}}</h1>

<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="{{coffee.photo}}" alt="Placeholder image" />
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">You Are Reviwing</p>
        <p class="subtitle is-6">{{coffee.name}}</p>
      </div>
    </div>

    <div class="content">
      <form method="POST" action="/addreview/{{coffee.id}}/">
        {% csrf_token %}
        <div class="">
          <label>Enter a rating 0 to 5</label><br /><input
            type="number"
            name="rating"
            min="0"
            max="5"
            required
          />
          <br />
        </div>

        <div class="form">
          <label>Review</label><br /><textarea
            name="review"
            required
          ></textarea>
          <br />
        </div>

        <button>Submit Review</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
